<p><%= "Id: #{@invoice.id}" %></p>
<p><%= "Status: #{@invoice.status}" %></p>
<p><%= "Created: #{@invoice.created_at.strftime("%A, %B %d, %Y")}" %></p>
<p><%= "Customer: #{@invoice.customer.full_name}" %></p>