<h1>Merchants</h1>

<section class="merchants_in_system">
  <% @merchants.each do |merchant| %>
    <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %></p>
      <p><%= button_to "Disable", change_status_admin_merchant_path(merchant, status: :disabled), method: :patch %></p>
      <p><%= button_to "Enable", change_status_admin_merchant_path(merchant, status: :enabled), method: :patch %></p>
  <% end %>
</section>

