<h1> Merchant Dashboard </h1>

<section id="merchant">
  <h3><%= "Name: #{@merchant.name}" %></h3>
</section>
<section id="merchant_links">
  <%= link_to "Items Index", "/merchants/#{@merchant.id}/items" %>
  <%= link_to "Invoices Index", "/merchants/#{@merchant.id}/invoices" %>
</section>

# <section id="top_customers">
#   <h4> "Top 5 Customers" </h4>
#   <%= @merchant.top_customers %>
# </section>
