<h1> Merchant Dashboard </h1>

<section id="merchant">
  <h3><%= @merchant.name %></h3>
</section>

<%= link_to "Items Index", "/merchants/#{@merchant.id}/items" %>
<%= link_to "Invoices Index", "/merchants/#{@merchant.id}/invoices" %>

<section id="top_customers">
  <h4> Top 5 Customers </h4>
  <ul>
    <% @top_customers.each do |customer, count| %>
      <li><%= "#{customer.first_name} #{customer.last_name}: #{count}" %></li>
    <% end %>
  </ul>
</section>
