<h1><%= @merchant.name %>'s Invoices</h1>

<div id="merchant_invoices">
  <% @merchant_invoices.each do |invoice| %>
    <p><%= link_to "Invoice #{invoice.id}", merchant_invoice_path(@merchant, invoice)%></p>
  <% end %>
</div>